<h3>LOGIN</h3>

<form  id="form">
    <ul>
        <li>
            <label for="">First Name</label>
            <input type="text" name="firstName">
        </li>

        <li>
            <label for="">Last Name</label>
            <input type="text" name="lastName">
        </li>
                <li>
            <label for="">Age</label>
            <input type="text" name="age">
        </li>
                <li>
            <label for="">Email</label>
            <input type="text" name="email">
        </li>
                <li>
            <label for="">Password</label>
            <input type="text" name="password">
        </li>
    </ul>
    <button type="submit">Submit</button>

</form>
<br>
<form id="logout">
    <button type="button">Logout</button>
</form>